<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Редактировать тест</title>
</head>
<body>
    <h1>Редактирование теста</h1>
    <form method="POST">
        <label for="test_name">Название теста:</label>
        <input type="text" name="test_name" value="{{ test.name }}" required><br>

        <div id="questions">
            {% for i in range(0, test.questions | length) %}
            <div class="question">
                <input type="text" name="questions" value="{{ test.questions[i] }}" placeholder="Вопрос" required>
                <input type="text" name="answers" value="{{ test.answers[i] }}" placeholder="Ответ" required>
                <button type="button" class="delete_question">Удалить вопрос</button>
            </div>
            {% endfor %}
        </div>

        <button type="button" id="add_question">Добавить вопрос</button><br>

        <button type="submit">Сохранить</button>
        <button href="{{ url_for('index') }}">Вернуться к тестам</button> 
    </form>

    <script>
        document.getElementById('add_question').addEventListener('click', function() {
            const questionsDiv = document.getElementById('questions');
            const newQuestion = document.createElement('div');
            newQuestion.classList.add('question');
            newQuestion.innerHTML = `
                <input type="text" name="questions" placeholder="Вопрос" required>
                <input type="text" name="answers" placeholder="Ответ" required>
                <button type="button" class="delete_question">Удалить вопрос</button>
            `;
            questionsDiv.appendChild(newQuestion);

            newQuestion.querySelector('.delete_question').addEventListener('click', function() {
                newQuestion.remove();
            });
        });

        document.querySelectorAll('.delete_question').forEach(function(button) {
            button.addEventListener('click', function() {
                this.closest('.question').remove();
            });
        });
    </script>
</body>
</html>
