{% extends 'base.html' %}

{% block title %}
Вход
{% endblock %}

{% block body %}
<main class="main-content">
    <div class="gray-box">
        <h1>Вход</h1>
        <form method="POST" class="input-form">
            <label for="username">Имя пользователя:</label>
            <input type="text" name="username" required><br>
            <label for="password">Пароль:</label>
            <input type="password" name="password" required><br>
            <button class="save-button" type="submit">Войти</button>
            <a class="reset-button" type="reset" href="{{ url_for('register') }}">Зарегистрироваться</a>
    </div>
</main>
{% endblock %}
