{% extends 'base.html' %}

{% block title %}
{{ test.name }}
{% endblock %}

{% block body %}
<main class="main-content">
    <div class="gray-box">
        <h1>{{ test.name }}</h1>
        <form method="POST" class="input-form">
            {% for i in range(0, test.questions | length) %}
            <div>
                <p class="name-question">{{ test.questions[i] }}</p>
                <input class="answer-input" type="text" name="user_answers" placeholder="Ваш ответ" required>
            </div>
            {% endfor %}
            <button type="submit" class="save-button">Отправить</button>
        </form>
    </div>


</main>
</div>
{% endblock %}
